.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  margin: 2px;
}

.poster {
  width: 140px;
  height: 210px;
}

.poster img {
  max-width: 100%;
}